---
import '../styles/global.css';
const { title = 'myblog' } = Astro.props;
---
<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
	</head>
	<body>
		<header>
			<a href="/" class="site-title">Home</a>
		</header>
		<slot />
	</body>
</html>
